{{>header}}
<div class="bg">
  <br>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8" style="text-align: center;">
      <div class="rates-block">
        <div class="rates-text">
          <div class="grey-box mt-2 p-4" >
            <h1>¡CELEBRA TU CUMPLEAÑOS!</h1>
            <h3 style="color:#BBBBBB"> Mínimo 10 pilotos</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6" style="text-align: center;">
      <div class="rates-block">
          <div class="grey-box mt-2 p-4" >
            <h2 style="color:#FFFFFF; text-transform: none;">Escoge entre los dos karts</h2>
          </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row" style="text-align: center">
    <div class="col-md-1"></div>
    <div class="col-md-5">
      <div class="rates-block">
        <div class="rates-text">
          <div class="grey-box round-border mt-2 p-4">
            <h2 class="mb-4">HONDA 4T RT 10 </h2>
            <h5>270cc, 10cv, Velocidad máxima 80km/h</h5>
            <img class="img-fluid smaller-image" src="/images/kart1.png" alt="">
            <div class="table-container">
              <table class="table">
                <tbody>
                <tr>
                  <td>Tandas</td>
                  <td>Precio</td>
                  <td>Descripción</td>
                </tr>

                <tr>
                  <td>2 Tandas</td>
                  <td>30&euro; P.P.</td>
                  <td>2 x 10 min</td>
                </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="rates-block">
        <div class="rates-text">
          <div class="grey-box round-border mt-2 p-4">
            <h2 class="mb-4">ROTAX 2T 125cc </h2>
            <h5>125cc, 18cv, Velocidad máxima: 95km/h</h5>
            <img class="img-fluid smaller-image" src="/images/kart2.png" alt="">
            <div class="table-container">
              <table class="table">
                <tbody>
                <tr>
                  <td>Tandas</td>
                  <td>Precio</td>
                  <td>Descripción</td>
                </tr>
                <tr>
                  <td>2 Tandas</td>
                  <td>60&euro; P.P.</td>
                  <td>2 x 10 min</td>
                </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
  <br>

    <div class="row">
      <div class="col-2"></div>
      <div class="col-8" style="text-align: center;">
        <div class="rates-block">
          <div class="rates-text">
            <div class="grey-box mt-2 p-4" >
              <h1>MERIENDA</h1>
              <h3 style="color:#BBBBBB">Todos los menús incluyen refresco y patatas</h3>

            </div>
          </div>
        </div>
      </div>
    </div>
  <br>
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6" style="text-align: center;">
      <div class="rates-block">
        <div class="grey-box mt-2 p-4" >
          <h2 style="color:#FFFFFF; text-transform: none;">Escoge entre los dos menús:</h2>
        </div>
      </div>
    </div>
  </div>

  <br>


  <div class="row" style="text-align: center">
    <div class="col-md-1"></div>
    <div class="col-md-5">
      <div class="rates-block">
        <div class="rates-text">
          <div class="grey-box round-border mt-2 p-4">
            <h2 class="mb-4">HAMBURGUESA</h2>
            <div>
              <img class="img-fluid smaller-image" src="/images/burguer.png" alt="">
            </div>
            <div class="table-container">
              <table class="table">
                <tbody>
                <tr>
                  <td>Personas</td>
                  <td>Precio</td>
                </tr>

                <tr>
                  <td>>10</td>
                  <td>+7&euro; P.P.</td>
                </tr>
                <tr>
                  <td>>15</td>
                  <td>+6&euro; P.P.</td>
                </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="rates-block">
        <div class="rates-text">
          <div class="grey-box mt-2 p-4">
            <h2 class="mb-4">PERRITO </h2>
            <div>
              <img class="img-fluid smaller-image" src="/images/hotDog.png" alt="">
            </div>
            <div class="table-container">
              <table class="table">
                <tbody>
                <tr>
                  <td>Personas</td>
                  <td>Precio</td>
                </tr>

                <tr>
                  <td> >10</td>
                  <td>+6&euro; P.P.</td>
                </tr>
                <tr>
                  <td> >15</td>
                  <td>+5&euro; P.P.</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="col-md-1"></div>
    </div>
    <br>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8" style="text-align: center;">
      <div class="rates-block">
        <div class="rates-text">
          <div class="grey-box mt-2 p-4" >
            <h1>¡LLAMANOS PARA RESERVAR!</h1>

          </div>
        </div>
      </div>
    </div>
  </div>



  <br>
  <br>
  </div>

  {{>footer}}