<footer class="footer">
  <div class="container">
    <div class="footer-row">
      <div class="col-md-1"></div>
      <div class="col-md-2">
        <div class="footer-links">
          <h4>Redes Sociales:</h4>
          <ul>
            <li><a href="http://intagram.com">Instagram</a></li>
            <li><a href="http://facebook.com">Facebook</a></li>
            <li><a href="http://whatsapp.com">Whatsapp</a></li>
            <li><a href="http://twitter.com">Twitter</a></li>
            <li><a href="http://telegram.com">Telegram</a></li>
            <li><a href="http://youtube.com">Youtube</a></li>
            
          </ul>
        </div>
      </div>
      <div class="col-md-2">
        <div class="footer-links">
          <h4>Servicios</h4>
          <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/Rates">Tarifas</a></li>
            <li><a href="/newReserve">Reservar</a></li>
            <li><a href="/Events">Eventos</a></li>
            <li><a href="/Races">Resultados</a></li>
            <li><a href="/newContacts">Contactanos</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 footer-links">
        <h4>¿Dónde nos encontramos?</h4>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d4296.559118446489!2d-3.609381652818695!3d40.40605745046339!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2ses!4v1710437979268!5m2!1ses!2ses" style="border:0;"></iframe>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-3">
        <img src="/images/logo.png" alt="Logo" style="width: 80%">
      </div>
    </div>
  </div>
</footer>
