{{>header}}
<div class="row bg">
    <div class="col-2"></div>
    <div class="col-8 rates-text" style="text-align: center;">
        <br>
        <div class="grey-box mt-2 p-4 " >
            <h1 class="text-white">¡LA AVENTURA TE ESPERA EN NUESTRA PISTA!</h1>
        </div>
        <br>
        <div class="grey-box mt-2 p-4 " >
            <div>
                <h2 class="mb-4 text-white">Nuestro impresionante circuito</h2>
            </div>
            <img class="img-fluid" src="/images/track.png" alt="">
            <div style="height: 20px;"></div>
        </div>
        <br>
        <div class="grey-box mt-2 p-4 " >
            <div>
                <h2 class="mb-4 text-white">¿Dónde nos encontramos?</h2>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d4296.559118446489!2d-3.609381652818695!3d40.40605745046339!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2ses!4v1710437979268!5m2!1ses!2ses"
                    width="70%" height="500px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <div style="height: 20px;"></div>
        </div>
        <br>
        <br>
    </div>
    <div class="col-2"></div>
</div>

{{>footer}}
