{{>header}}
<div class = "row" style="background-color: #e74451;">
    <div class="col-md-2"></div>
    <div class="col-md-8 p-4 bg-danger">
      <form  id="fReserve" onsubmit="submitPressReserve(event)" style="display: block;">
        <div class="row p-3 round-border" style="background-color: #aa1a26;">
          <label for="numberPlayers" class="text-white">Numero de jugadores:</label>
          <div class="col-md-8">
            <select id="numberPlayers" class="form-select form-select ">
              <option value="0" selected>Seleccionar cantidad de jugadores</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
            </select>
          </div>
          <input type="datetime-local" id="date" name="date" class="col-md-4">
        </div>
        <div id="contenedorUsuarios" class="p-3 row"></div>
        <div class="text-center">
          <button id="ReserveFormBtn" type="submit" class="btn btn-outline-light btn-lg" style="border-width: 3px;">Enviar</button>
        </div>

      </form>
      </div>
      <button onclick="window.location.href = '/Reserves/'" class="btn btn-outline-light btn-lg" style="border-width: 3px;">Ver reservas</button>
    </div>
  <div class="col-md-2"></div>
{{>footer}}