{{>header}}
<div class = "row bg">
    <div class="col-md-2"></div>
    <div class="col-md-8 p-4">
        
        <div class="row m-3 p-3 grey-box text-white">
            Id: {{race.id}}  Numero de vueltas: {{race.numberLaps}}.
            {{#race.listDrivers}}
            <div class="row m-3 p-3 ligthGrey-box" style="width:95%"onclick="window.location.href = '/Race/{{id}}/User/{{-index}}'">
                Nombre: {{name}} Tiempo total: {{totalTime}}.
                <!--MidLAP AND BEST LAP We need to calculate this before-->
            </div>
            {{/race.listDrivers}}
            </div>
    </div>
{{>footer}}