{{>header}}
<div class="bg">

<div class = "row">
    <div class="col-md-2"></div>
    <div class="col-md-8 p-4 bg-danger">
    {{#races}}
        <div class="row m-3 p-3 round-border " style="background-color: #a51c28;" onclick="window.location.href = '/Race/{{id}}/'">
        Id: {{id}}  Numero de vueltas: {{numberLaps}}.
        {{#listDrivers}}
            <li>Nombre: {{name}} Tiempo total: {{totalTime}}</li>
        {{/listDrivers}}
        </div>
    {{/races}}
    <button onclick="window.location.href = '/newRace'">Añadir carrera</button>
    <br> 

</div>

{{>footer}}