{{>header}}

<div class = "row bg" >
  <div class="col-2"></div>
  <div class="col-8" style="text-align: center;">
    <div class="rates-block">
      <div class="rates-text">
        <div class="container mt-2 p-4" >
          <h1>¡Los mejores precios de Madrid!</h1>
        </div>
      </div>
    </div>
    <br>
    <div class="rates-block">
      <div class="rates-text">
        <div class = "container  round-border mt-2 p-4" >
          <h2 class="mb-4">TARIFAS HONDA 4T RT 10 </h2>
          <h5> 270cc, 10cv, Velocidad máxima 80km/h</h5>
          <img class="img-fluid smaller-image" src="https://www.sodikart.com/content/images/karts/42/main/0-kart-1658388679.png" alt="">
          <div class="table-container">
            <table class="table">
              <tbody>
              <tr>
                <td>Tandas</td>
                <td>Precio</td>
                <td>Descripción</td>
              </tr>
              <tr class="red-row">
                <td>1 Tanda</td>
                <td>18€</td>
                <td>10 min</td>
              </tr>
              <tr>
                <td>2 Tandas</td>
                <td>32€</td>
                <td>2 x 10 min</td>
              </tr>
              <tr class="red-row">
                <td>3 Tandas</td>
                <td>43€</td>
                <td>3 x 10 min</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="rates-block">
      <div class="rates-text">
        <div class = "container  round-border mt-2 p-4" >
          <h2 class="mb-4">TARIFAS ROTAX 2T </h2>
          <h5> 125cc, 18cv, Velocidad máxima: 95km/h</h5>
          <img class="img-fluid smaller-image" src="https://www.sodikart.com/content/images/karts/38/main/0-kart-1547732656.png" alt="">
          <div class="table-container">
            <table class="table">
              <tbody>
              <tr>
                <td>Tandas</td>
                <td>Precio</td>
                <td>Descripción</td>
              </tr>
              <tr class="red-row">
                <td>1 Tanda</td>
                <td>18€</td>
                <td>10 min</td>
              </tr>
              <tr>
                <td>2 Tandas</td>
                <td>32€</td>
                <td>2 x 10 min</td>
              </tr>
              <tr class="red-row">
                <td>3 Tandas</td>
                <td>43€</td>
                <td>3 x 10 min</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="rates-block">
      <div class="rates-text">
        <div class = "container  round-border mt-2 p-4" >
          <h2 class="mb-4">¡CREA TU PROPIO CAMPEONATO! </h2>
          <h5> Honda 4T RT 10: 270cc, 10cv, 80km/h</h5>
          <img class="img-fluid smaller-image" src="../images/podium.png " alt="">
          <h5>Mínimo 10 pilotos</h5>
          <div class="table-container">
            <table class="table">
              <tbody>
              <tr>
                <td>Pilotos</td>
                <td>Precio P.P</td>
              </tr>
              <tr class="red-row">
                <td>>10</td>
                <td>50€</td>
              </tr>
              <tr>
                <td>>15</td>
                <td>45€</td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="table-container">
            <table class="table">
              <tbody>
              <tr class="">
                <td>Descripción:</td>
              </tr>
              <tr>
                <td>10 minutos de clasificación</td>
              </tr>
              <tr class="red-row">
                <td>Carrera de 15 vueltas</td>
              </tr>
              <tr>
                <td>Carrera con parrilla invertida</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <br>
  <div class="col-2"></div>
</div>

{{>footer}}