{{>header}}

<div class = "row bg" >
  
  <div class="col-md-2"></div>
  <div class="col-md-8" style="text-align: center;">
    <br>
      <div class="rates-text">
        <div class="grey-box mt-2 p-4 " >
          <h1>¡LOS MEJORES PRECIOS DE MADRID!</h1>
        </div>
      </div>
    <br>
    <br>
      <div class="rates-text">
        <div class="grey-box mt-2 p-4 " >
          <h2 class="mb-4">TARIFAS HONDA 4T RT 10 </h2>
          <h5> 270cc, 10cv, Velocidad máxima 80km/h</h5>
          <img class="img-fluid smaller-image" src="/images/kart1.png" alt="Kart honda 4T RT 10">
          <div class="table-container">
            <table class="table">
              <tbody>
              <tr>
                <td>Tandas</td>
                <td>Precio</td>
                <td>Descripción</td>
              </tr>
              <tr class="red-row">
                <td>1 Tanda</td>
                <td>18&euro;</td>
                <td>10 min</td>
              </tr>
              <tr>
                <td>2 Tandas</td>
                <td>32&euro;</td>
                <td>2 x 10 min</td>
              </tr>
              <tr class="red-row">
                <td>3 Tandas</td>
                <td>43&euro;</td>
                <td>3 x 10 min</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    <br>
    <br>
      <div class="rates-text">
        <div class="grey-box mt-2 p-4 " >
          <h2 class="mb-4">TARIFAS ROTAX 2T </h2>
          <h5> 125cc, 18cv, Velocidad máxima: 95km/h</h5>
          <img class="img-fluid smaller-image" src="/images/kart2.png" alt="Kart Rotax 2T">
          <div class="table-container">
            <table class="table">
              <tbody>
              <tr>
                <td>Tandas</td>
                <td>Precio</td>
                <td>Descripción</td>
              </tr>
              <tr class="red-row">
                <td>1 Tanda</td>
                <td>37&euro;</td>
                <td>10 min</td>
              </tr>
              <tr>
                <td>2 Tandas</td>
                <td>70&euro;</td>
                <td>2 x 10 min</td>
              </tr>
              <tr class="red-row">
                <td>3 Tandas</td>
                <td>43&euro;</td>
                <td>3 x 10 min</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    <br>
    <br>
      <div class="rates-text">
        <div class="grey-box mt-2 p-4 " >>
          <h2 class="mb-4">¡CREA TU PROPIO CAMPEONATO! </h2>
          <h5> Honda 4T RT 10: 270cc, 10cv, 80km/h</h5>
          <img class="img-fluid smaller-image" style="padding-bottom:2%" src="/images/podium.png" alt="Kart Rotax 2T">
          <h5>Mínimo 10 pilotos</h5>
          <div class="table-container">
            <table class="table">
              <tbody>
              <tr>
                <td>Pilotos</td>
                <td>Precio P.P</td>
              </tr>
              <tr class="red-row">
                <td>>10</td>
                <td>50&euro;</td>
              </tr>
              <tr>
                <td>>15</td>
                <td>45&euro;</td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="table-container">
            <table class="table">
              <tbody>
              <tr class="">
                <td>Descripción:</td>
              </tr>
              <tr>
                <td>10 minutos de clasificación</td>
              </tr>
              <tr class="red-row">
                <td>Carrera de 15 vueltas</td>
              </tr>
              <tr>
                <td>Carrera con parrilla invertida</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    <br>
    <br>
  <div class="col-2"></div>
</div>

{{>footer}}